
<nav class="navbar navbar-toggleable-md navbar-light ">
    <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="img/logo.png" alt="img" class="mobile_logo_width" /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Ansayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="BlogList">Blog <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="About">Hakkımda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>